name: Update readme.md

on:
  push:
    branches: [ main ]
  schedule:
    - cron: "0 3 * * 0"
  workflow_dispatch:

jobs:
  build:
    if: "!contains(github.event.commits[0].message, '[skip ci]')"

    env:
      TOKEN: ${{ secrets.TOKEN }}

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false
        fetch-depth: 0
    - name: Install uv
      uses: astral-sh/setup-uv@v5
    - name: Generate README.md
      run: uv run readmegen.py
    - name: Output README.md as job summary
      run: cat README.md >> $GITHUB_STEP_SUMMARY
    - name: Commit newly generated README.md
      run: |
        git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git config --global user.name "github-actions[bot]"
        git commit -m "[ci skip] Update README.md" README.md
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
